{% extends "base.html" %}

{% block content %}

<form action='{% url submit_form %}' method='post'>
<table border='0' cellspacing='0' cellpadding='0'>
{{ form.as_table }}
{% csrf_token %}
  <tr>
    <td colspan='2' align='center'><input type='submit' value='Add'></td>
  </tr>
</table>
</form>

{% if ws %}
I found several matches - please choose the one you're looking for:
<ul>
{% for station in ws %}
  <li><a href='{% url step2 %}?code={{ station.code }}'>{{ station.code }}</a>&nbsp;&nbsp;&nbsp;{{ station.name }}, {{ station.state }} {{ station.country }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock content %}
