{% extends "base.html" %}

{% block content %}
<h1>METARs on Twitter</h1>

<p><strong>This app will allow you to connect a Twitter account to a METAR reporting station.</strong></p>

<p>Which station would you like to begin tweeting? ICAO (beginning with K) codes, please.</p>

<form action='{% url submit_form %}' method='post'>
{{ form.as_p }}
{% csrf_token %}
<input type='submit' value='Add'>
</form>

<p>
<strong>Why Twitter? Why METARs?</strong><br>
METARs are valuable information to pilots, and can be useful for anybody willing to learn how to decode them. The standard phraseology results in a very concise but detailed picture of the weather in a location. I've seen very few METARs in my experience that went over 140 characters.<br>
Why Twitter? Because it's a free service that will also offer the ability to get text messages for selected accounts. If you're going to be flying, you can tell Twitter to push those updates as SMSes to your phone. If you need to watch the weather for another reason that can be useful as well.<br>
It's also useful for historical data - need to know what the weather was a few hours/days/weeks/? ago? As long as the reports have been tweeted that far back you can retrieve them. I personally will use this when I want to make a note about weather conditions in my logbook after a flight.<br>
Besides, why not?
</p>
{% endblock content %}
